if messages.errors
  .alert.alert-danger.fade.in.cannot-blur
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for error in messages.errors
      div.cannot-blur= error.msg
if messages.info
  .alert.alert-info.fade.in.cannot-blur
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for info in messages.info
      div.cannot-blur= info.msg