form.form-horizontal.cannot-blur(method='POST', action='/login', ng-show='showLoginForm', ng-init='showLoginForm = ' + !isLoggedIn)
  h2.text-center.form-title Sign in to view
  input(type='hidden', name='_csrf', value=_csrf)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='email') Email
      input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='password') Password
      input.form-control(type='password', name='password', id='password', placeholder='Password', required)
  .form-group.cannot-blur(style='margin-top: 20px;')
    .col-sm-10.col-sm-offset-1.cannot-blur
      button(type='submit')
        | Login
      a(ng-href='/auth/twitter')
        button(type='button')
          i.fa.fa-twitter
          | Login with Twitter
      a(ng-href='/signup', ng-click='showLoginForm = false')    
        button(type='button')
          | Sign Up