form.form-horizontal.cannot-blur.col-xs-4.col-xs-offset-4(ng-show='showPinForm', ng-init='showPinForm = false', ng-submit='showPinForm = false; addPin(); toggleBlur()')
  h2.text-center.form-title New pin
  input(type='hidden', name='_csrf', value=_csrf)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='imageURL') URL
      input.form-control(type='imageURL', ng-model='imageURL', name='imageURL', id='imageURL', placeholder='Image URL', required)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='description') Description    
      input.form-control(type='description', ng-model='description', name='description', id='description', placeholder='Description', required)
  .form-group.cannot-blur(style='margin-top: 20px;')
    .col-sm-10.col-sm-offset-1.cannot-blur
      button(type='submit')
        | Add