form.form-horizontal.cannot-blur(method='GET', action='/signup', ng-show='showSignupForm', ng-init='showSignupForm = false', ng-submit='showSignupForm = false; toggleBlur()')
  h2.text-center.form-title Sign Up
  input(type='hidden', name='_csrf', value=_csrf)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='email') Email
      input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
  .form-group.cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      label(for='password') Password
      input.form-control(type='password', name='password', id='password', placeholder='Password', required)
  .form-group(style='margin-top: 20px;').cannot-blur
    .col-sm-10.col-sm-offset-1.cannot-blur
      button(type='submit', ng-click='showSignupForm = false;')
        i.fa.fa-user-plus
        | Signup