doctype html
html(ng-app='pinApp', ng-controller='PinController')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title}
    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet")
    link(rel='stylesheet', href='/css/main.css')
  include partials/login
  include partials/signup
  include partials/header
  include partials/new
  body.ng-cloak
    .container(ng-init="toggleBlur()")
      block content
    .floating-menu.text-center.cannot-blur
      .option.cannot-blur.clickable(ng-style='buttonStyle', ng-click="clickAddPin(" + isLoggedIn +"); toggleBlur()")
        a(ng-style='linkStyle') +
      .option.cannot-blur
        a(ng-href='https://github.com/mishellscripts/pinterest-clone')
          i.fa.fa-github.fa-align-center(aria-hidden='true')
    script(src='/socket.io/socket.io.js')
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js")
    script(src="//desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    script(src="//passy.github.io/angular-masonry/angular-masonry.min.js")
    script(src='/js/main.js')
    script(type='text/javascript').
      var userInfo =!{JSON.stringify(user)}