extends ../layout

block content
  .grid(ng-if='pins.length', data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
    .grid-item(ng-repeat='pin in pins')
      img.pin-img(ng-src="{{pin.image}}")
      a(href="/pins/{{pin.pinner._id}}")
        img.pinner-img(ng-src="{{pin.pinner.profile.picture}}", ng-err="https://www.senzeinstruments.com/wp-content/uploads/2016/07/not-found.jpg")
      p {{pin.description}}
      .menu
        a(href='/delete/{{pin._id}}')
          i.fa.fa-times(aria-hidden='true')
        i.fa.fa-heart(aria-hidden='true')
        i {{pin.likes}} likes